<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    beStrictAboutCoversAnnotation="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTodoAnnotatedTests="true"
    bootstrap="vendor/autoload.php"
    convertDeprecationsToExceptions="true"
    executionOrder="depends,defects"
    failOnRisky="true"
    failOnWarning="true"
    verbose="true"
    colors="true">
    <testsuites>
        <testsuite name="default">
            <directory >test</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
    
    <php>
        <!-- Seems to be needed by CI's PHP8.2-RC1? Not needed in PHP8.2-dev locally! -->
        <ini name="assert.exception" value="1" />
        <ini name="assert.warning" value="0" />
    </php>
</phpunit>
